/*
Colores: 

    rojo: #f4312d
    azul: #0b1530
    blanco: #ffffff
    gris: #e8e8e7
    
*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 26px; 
    border-radius: 13px; 
    max-width: 500px;
    box-shadow: #000 0px 0px 7px 0px;
    border: #0b1530 5px solid;
    margin: 50px auto; 
}

form label {
    font-weight: bold;
    font-size: 1.1em;
}

form img {
    width: 195px; 
    height: 195px; 
}

form input {
    margin: 13px 0;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: #000 0px 0px 5px 0px;
    transition: box-shadow 0.3s ease;
}

form input:hover {
    box-shadow: #0b1530 0px 0px 15px 0px;
}

form select {
    margin: 13px 0;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: #000 0px 0px 5px 0px;
    transition: box-shadow 0.3s ease;
    min-width: 200px;
}

form select:hover {
    box-shadow: #0b1530 0px 0px 15px 0px;
}

form button {
    background-color: #0b1530;
    color: #ffffff;
    font-size: 1.3em; 
    padding: 13px 26px; 
    border-radius: 20%;
    border: none;
    transition: transform 0.3s ease;
    box-shadow: #000 0px 0px 5px 0px;
    margin-bottom: 15px;
    margin-top: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #f4312d;
    transform: scale(1.05);
}

form a {
    color: #0b1530;
    transition: all 0.3s ease;
    cursor: pointer;
}

form a:hover {
    color: #f4312d;
    transform: scale(1.05);
}