div {
    display: flex;
    flex-direction: row;
}

aside {
    width: 33.33%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}

main {
    width: 66.67%;
    float: right;
}

.app-tarjeta-usuario {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}
.app-pie-pagina {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}