<div class="user-card">
    <h2 class="username">{{ usuario }}</h2>
    <img [src]="foto" alt="User photo" class="user-photo">
    <div class="stats">
    <div>
        <p class="titulo">Siguiendo</p>
        <p class="dato">{{ siguiendo }}</p>
    </div>
    <div>
        <p class="titulo">Seguidores</p>
        <p class="dato">{{ seguidores }}</p>
    </div>
    <div>
        <p class="titulo">Actividades</p>
        <p class="dato">{{ actividades }}</p>
    </div>
    </div>
    <div class="last-activity">
        <p class="titulo">Última Actividad</p>
        <p class="dato">{{ ultimaActividad }}</p>
    </div>
    <button (click)="cerrarSesion()">Cerrar Sesión</button>
</div>