.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 26px;
    border-radius: 13px;
    max-width: auto;
    box-shadow: #000 0px 0px 7px 0px;
    border: #0b1530 5px solid;
}

.username {
    text-align: center;
}

.user-photo {
    width: 195px;
    height: auto;
    object-fit: cover;
    margin: 20px auto;
}

.stats {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.1em;
}

.last-activity {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1em;
}
.titulo{
    margin: 0px 10px;
}

.dato{
    font-weight: normal;
    font-size: 1em;
    text-align: center;
}

button {
    background-color: #0b1530;
    color: #ffffff;
    font-size: 1.1em; 
    border-radius: 20%;
    border: none;
    transition: transform 0.3s ease;
    box-shadow: #000 0px 0px 5px 0px;
    margin-bottom: 15px;
    margin-top: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f4312d;
    transform: scale(1.05);
}