<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a72e8b80-0ff4-421b-9d45-b1be6f9029d6/resourceGroups/StraviaTEC/providers/Microsoft.Web/sites/straviatec-mongoapi</ResourceId>
    <ResourceGroup>StraviaTEC</ResourceGroup>
    <ApiResourceId>/subscriptions/a72e8b80-0ff4-421b-9d45-b1be6f9029d6/resourceGroups/StraviaTEC/providers/Microsoft.ApiManagement/service/StraviatecMng/apis/StraviaMongoAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://straviatec-mongoapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4257e9b7-0a6e-4ced-b0b4-2581bd3cd419</ProjectGuid>
    <MSDeployServiceURL>straviatec-mongoapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>straviatec-mongoapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$straviatec-mongoapi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>