nav {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background-color: #ffffff;
    box-shadow: #000 0px 0px 7px 0px;
    border: #0b1530 5px solid;
    top: 0;
    left: 0;
    width: auto;
    padding: 0 20px;
}

nav img {
    width: 120px;
    height: 120px;
    margin-right: 45px;
    transition: all 0.3s ease;
    cursor: pointer; 
}

nav img:hover {
    transform: scale(1.05);
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav li {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.4em;
    margin-right: 45px;
    color: #0b1530;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav li:hover {
    color: #f4312d;
    transform: scale(1.05);
    text-shadow: #000 0px 0px 3px;
}